 @font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

html{
    background-color: black;
}

h1,h2,h3,h4,h5,h6,p,.ex1,.ex2.kittext{ 
    font-family: 'SBAggroB';
    color: white;
    text-align: center;
}
.text1{
    background-color: #fff700;
}
h1{
    font-size: 4rem;
    color: red;
    margin: 0;
    padding-top: 20px;
}
h2{
    font-size: 3rem;
    padding-bottom: 50px;
    margin: 0;
}
h3{
    font-size: 2rem;
    padding-bottom: 10px;
    margin: 0;
}
h4{
    font-size: 3rem;
    text-align: center;
    padding-right:50%;
    margin: 0;
    width: 500px;
}
h5{
    font-size: 3rem;
    text-align: center;
    margin: 0;
    width: 400px;

}
h6{
    font-size: 3rem;
    text-align: center;
    padding-right: 80%;
    padding-bottom: 30px;
    margin: 0;
    width: 500px;

}

p{
    font-size: 1.5rem;
    
}
.title{ 
    text-align: center;
    padding-top: 30px;
    padding-bottom: 100px
}
.eximg1{
    padding-top: 200px;
   text-align: center;
   padding-right: 900px;
   margin: 0;
}
.ex1{
   padding-left: 100px;
    width: 800px;
    margin: 0;
    padding-top: 50px;
}
.eximg2{
    padding-left: 65%;
    margin: 0;
}
.ex2{
    width: 800px;
    padding-left: 50%;
    margin: 0;
    padding-top: 50px;
}
.eximg3{
    padding-top: 80px;
    padding-left:200px;
    margin: 0;
}
.ex3{
     width: 800px;
    padding-left: 20px;
    margin: 0;
    padding-top: 50px;
}
.kit{
    text-align: center;
}
.kittext{
   font-size: 2rem;
   padding-top: 15%;
   padding-bottom: 150px

}